# dependencies
node_modules/
backend/parser/
backend/.pnp
backend/.pnp.js

# testing
backend/coverage/

# production
backend/build/

# misc
backend/.DS_Store
backend/.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# dependencies
shop/node_modules/
shop/.pnp
shop/.pnp.js

# testing
shop/coverage/

# production
shop/build/

# misc
shop/.DS_Store
shop/.env*
shop/npm-debug.log*
shop/yarn-debug.log*
shop/yarn-error.log*