
.btn {
    padding: 16px 56px 16px 56px;
    border-radius: 6px;
    /* или другое значение для маленького радиуса */
    background-color: #339933;
    color: #fff;
    /* Добавим белый цвет текста для контраста */
    text-decoration: none;
    /* Уберем стандартное подчеркивание для ссылки */
    display: inline-block;
    /* Добавим для правильного отображения блока */
    width: 218px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
 

}
.div_btn{
    display:flex

}
.btn:hover {
    background-color: #282828;
}

.btn:active {
    background-color: #fff;
    color: #282828;
}