.myBtn {
    color: #8B8B8B;
    background-color: #fff;
    border: 1px solid  #DDDDDD;
    cursor: pointer;
    border-radius: 6px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 8px 16px 8px 16px;
}

.myBtn:hover {
    background-color: #282828;
    color:#fff;
}

.myBtn:active {
    background-color: #fff;
    color: #282828;
}